.no_order_details,
.no_Order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NoOrdrerdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.no_order_details {
  margin-top: 2em;
  box-shadow: 0px 1px 8px 1px;
  width: 40vw;
  height: 90vh;
  padding: 3em;
  border-radius: 30px;
  background-color: #fff;
  background-image: url("../../../../public/Images/backcoveradmin.png");
}


.no_Order {
    width: 100%;
    background-color: rgba(231, 237, 244, 0.79);
}


.No_order_row >h1{
    background: #308C89;
    color: white;
    border-radius: 5px;
    height: 5vh;
    width: 20vw;
    text-align: center;
    padding-top: .2em;   
    font-size: 17px;
    font-weight: 500;

}
.no_order_image >img{
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no_order_details > h3 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 2em;
}