.orderProcess {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100vh;
}

.orderProcess::-webkit-scrollbar {
  display: none;
}
.orderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.orderDetailsContainerBox {
  height: 20vh;
  width: 30vw;
  margin: 1.5em 0em 0em 0em;
  border: 1px solid black;
  border-radius: 10px;
}
.orderDetailsContainerBox > h1 {
  background-color: #8e9092;
  width: 100%;
  height: 4vh;
  border-radius: 10px 10px 0px 0px;
  padding-left: 1em;
}
.orderDetailsContainerBox > div {
  display: flex;
  flex-direction: row;
  
}
.orderDetailsContainerBox > div {
  padding: 0.5em 0em 0em 1em;
}
.orderDetailsContainerBox > div p:nth-child(2) {
  padding-left: 2em;
  text-align: center;
}
.updateOrderForm {
  margin: 5vmax 0;
  padding: 3vmax;
  background-color: white;
  display: block;
  border-radius: 8px;
  border: 1px solid black;
  height: 50vh;
}

.updateOrderForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.updateOrderForm > div > select {
  padding: 1vmax 4vmax;
  margin: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.updateOrderForm >h1{
  height: 4vh;
  margin: 0em 0em 0em 2em;
  font-weight: 700;
}

.updateOrderForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}
.confirmCartItems {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1em 0 0 7.5em;
}
.confirmCartItems > h1 {
  background-color: #8e9092;
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
}
.confirmCartItemsContainer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
  padding-bottom: 1em;
}

@media screen and (max-width: 600px) {
  .updateOrderForm {
    padding: 5vmax;
  }

  .updateOrderForm > div > select {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .updateOrderForm > div > svg {
    font-size: 2.8vmax;
  }
}
