.content_add_test,
.input_test_div,
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test_row > h1 {
  color: rgba(0, 0, 0, 0.733);
  font: 300 2rem "Roboto";
  text-align: center;
}

.testdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.test_add {
  padding-left: 0.5em;
}

.test_add {
  width: 22vw;
  height: 5vh;
  margin: 0em 0em 1em 2em;
  border-radius: 5px;
  border: 1px solid #ada7a7;
}
.content_add_test {
    box-shadow: 0px 2px 12px 2px;
    width: 50vw;
    height: 80vh;
    border-radius: 30px;
    background-color: #fff;
    background-image: url("../../../../public/Images/backcoveradmin.png");
    padding: 1em 2em 0em 0em;
    margin-top: 4em;
}

.test_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}




.test {
  width: 100%;
  background-color: rgba(231, 237, 244, 0.79);
}

.form_test_dropDown > select {
  height: 5vh;
  width: 22vw;
  border-radius: 5px;
  color: #5b5e61;
  
}
.test_add_image {
  width: 22vw;
  height: 5vh;
  margin: 0em 0em 2em 0em;
}

#createTestFormImage {
  width: 100%;
  height: 8vh;
  overflow: auto;
  display: flex;
  justify-content: center;
}

#createTestFormImage > img {
  width: 8vw;
  height: 10vh;
  margin: 0 3vmax;
}

.add_test_label > label {
  font-weight: 600;
  margin: 0em 0em 0em 2.5em;
}
.add_test_label_image ,.test_labels_name_image > label{
  font-weight: 600;
    margin: 0em 0em 0em .6em;
}

#createProductFormFile{
    margin: 0em 0em 0em 2em;
}
.input-inside_test{
    margin: .7em 0em 0em 0em ;
}

.test_labels_name>label{
    font-weight: 600;
    margin: 0em 0em 0em 2.5em ;
}

