.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .bgImage > img {
  position: absolute;
  height: 100vh;
  width: 34vw;
  border-radius: 3em;
  opacity: 0.5;
} */

input {
  width: 24vw;
  height: 38px;
  border-radius: 5px;
  margin: 0.5em;
  background-color: #ffffff;
  border: 1px solid #ada7a7;
}

.registration-form h4 {
  margin: 1.5em 9em 0.5em 0;
  font-size: 30px;
}

.form-group.form-submit > input {
  background: #308c89;
  border-radius: 5px;
  color: #ffffff;
  width: 22vw;
  height: 38px;
  margin: 1.5em;
  border: 1px solid#308C89;
}

.form-group-profileImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  border: none;
  transition: all 0.5s;
  z-index: 2;
  font-family: "Poppins";
  font-style: normal;
  height: 6vh;
  margin: 0%;
  padding: 0 1vmax;
  visibility: hidden;
}

select {
  width: 24.5vw;
  height: 38px;
  border-radius: 5px;
  margin: 0.5em;
  background-color: #ffffff;
  border: 1px solid #ada7a7;
  color: rgba(0, 0, 0, 0.8);
}
.form-Time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.form-Time input {
  width: 6vw;
  height: 38px;
  border-radius: 5px;
  margin-left: 1em;
  background-color: #ffffff;
  border: 1px solid #ada7a7;
}

.text {
  color: rgba(0, 0, 0, 0.8);
}

/* .form-group-status input {
  width: 8.5vw;
} */
.register-form > span {
  margin: 0em 0em 0em 4em;
}
