/* .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30vh;
}
.title, .link,.profile{
    padding: 5vh;
}

.profilePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
