.sidebar {
  background-color: #308c89;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  /* padding: 1rem 0; */
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar > a:first-child {
  padding-left: 3vw;
}
.sidebar > a > img {
  transition: all 0.5s;
  height: 10vh;
  width: 5vw;
  margin-left: 1em;
}

.sidebar > a > img:hover {
  filter: drop-shadow(0 0 10px tomato);
}
.sidebar a {
  text-decoration: none;
  color: #fff;
  font: 200 1rem "Roboto";
  padding: 2rem;
  transition: all 0.5s;
}
.sidebar a:hover {
  color: tomato;
  transform: scale(1.1);
}

.sidebar a > P {
  display: flex;
  align-items: center;
}
.sidebar a > p > svg {
  margin-right: 0.5rem;
}

.MuiTypography-root {
  background-color: #308c89 !important;
}
