.Create_Banner_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.create_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(231, 237, 244, 0.79);
}

.add_banner_row{
    display: flex;
    justify-content: space-around;
}

.content_banner_Category{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 12px 2px;
    width: 35vw;
    height: 80vh; 
    /* margin: 1em 0em 0em 0em; */
    border-radius: 30px;
    box-sizing: border-box;
    background-color: white;
    background-image: url("../../../../public/Images/backcoveradmin.png");
}


.banner_add{
    width: 24vw;
    height: 5vh;
    margin: 1em 1em;
    border: 1px solid #ADA7A7;
   border-radius: 8px;
}

.button_banner{
    margin-top: 2em;
}
.input_banner_upload > input{
    height: 5vh;
    width: 22vw;
    border: 1px solid #ADA7A7;
   border-radius: 8px;

}

.banner_row{
    margin-top: 5em;
}
.banner_row > h1 {
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
  }

#createBannerBtn{
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

#createBannerFormImage {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
  }
  
  #createBannerFormImage > img {
    width: 15vw;
    margin: 2vmax 2vmax;
  }


