.confirmPrescriptionOrderPage{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.prescriptionOrderDetails{
  display: flex;
  flex-direction: column;
}
.prescriptionOrderDetailsContainerBox  {
  height: 20vh;
  width: 30vw;
  margin: 1.5em 0em 0em 0em;
  border: 1px solid black;
  border-radius: 10px;
}
.prescriptionOrderDetailsContainerBox >h1 {
  background-color: #8e9092;
  width: 100%;
  height: 4vh;
  border-radius: 10px 10px 0px 0px;
  padding-left: 1em;
}

.prescriptionOrderDetailsContainerBox >div {
  display: flex;
  flex-direction: row;
}

.prescriptionConfirmCartItemsContainer > div >img {
  height: 60vh;
  width: 40vw;
}

.updatePrescriptionForms {
  margin: 5vmax 0;
  padding: 3vmax;
  background-color: white;
  display: block;
}

.updatePrescriptionForms > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.updatePrescriptionForms > div > select {
  padding: 1vmax 4vmax;
  margin: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

/* .updatePrescriptionForms > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
} */
.updatePrescriptionForms .billForm {
  display: none;
  margin-top: 2em;
}

.billForm  > div > input {
  width :5vw;
}

@media screen and (max-width: 600px) {
  .updatePrescriptionForms {
    padding: 5vmax;
  }

  .updatePrescriptionForms > div > select {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .updatePrescriptionForms > div > svg {
    font-size: 2.8vmax;
  }
}


/* ----------Prescription CSS--------------- */

.newProductContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ECF1F7;
  

}
.createProductForm{
  height: 70vh;
  width: 30vw;
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  background-image: url("../../../../public/Images/backcoveradmin.png");

}

.createProductForm >h1{
  background-color: #308C89;
  border-radius: 5px;
  width: 15vw;
  height: 5vh;
  text-align: center;
  margin: 2em 0em 0em 6em;
  color: #fff;
}

.createProductForm >div > input{
 margin: 2em 0em 3em 2em ;
 
}

.createProductFormImage{
  height: 15vh;
  width: 10vw;
}
.prescription_bttn >button{
  width: 10vw;
}