.content_add_package , .input_package_div, .lab_package{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .add_package_row{
    display: flex;
    flex-direction: column;

}
.package_add{
    padding-left: 0.5em;
}

.packagediv{
    display: flex;
    flex-direction: row;
} 
.drop-down{
    margin-top: 1em;
    width: 22vw;
}
.drop-down > select{
    width: 22vw;
}

/* .content_add_package{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
/* .inside-input{
    display: flex;
    flex-direction: column;
    justify-content: center;

} */
/* .package_row .nside-input { 
    display: flex;
    flex-direction: row;
} */

.content_add_package{
    margin-top: 2em;
    box-shadow: 0px 2px 12px 2px;
    width: 50vw;
    height: 90vh;
    padding: 2em 0em;
    border-radius: 30px;
    background-color: #fff;
    background-image: url("../../../../public/Images/backcoveradmin.png");

}
.package_row > h1 {
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
  }


.package_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em 0em;
    
}

.package_add{
    width: 22vw;
    height: 5vh;
    margin: 1em 1em;
    border-radius: 5px;
    border: 1px solid #ADA7A7;
}
.button_package_row{
    margin-top: 5em;
}

.lab_package{
    width: 100%;
    background-color:rgba(231, 237, 244, 0.79);
}

.form_package_dropDown >select{
    height: 5vh;
    width: 22vw;
    border-radius: 5px;
    margin: 1em;
    padding-left: 0.3em;
    color: #5B5E61;

}

#createPackageFormImage {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
  }
  
  #createPackageFormImage > img {
    width: 12vmax;
    margin: 0 3vmax;
  }