.content_add_package,
.input_package_div,
.lab_package {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add_package_row {
  display: flex;
  flex-direction: column;
}
.package_add {
  padding-left: 0.5em;
}

.packagediv {
  display: flex;
  flex-direction: row;
}
.drop-down {
  margin-top: 2em;
  width: 22vw;
}
.drop-down > select {
  width: 22vw;
}

.content_add_package {
  /* margin-top: 0em; */
  box-shadow: 0px 2px 12px 2px;
  width: 50vw;
  height: 95vh;
  padding: 2em 0em;
  border-radius: 30px;
  background-color: #fff;
  background-image: url("../../../../public/Images/backcoveradmin.png");
}
.package_row > h1 {
  color: rgba(0, 0, 0, 0.733);
  font: 300 2rem "Roboto";
  text-align: center;
}
.package_row {
  overflow-y: scroll;
}

.package_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0em 0em;
}

.package_add {
  width: 22vw;
  height: 5vh;
  margin: 0em 1em;
  border-radius: 5px;
  border: 1px solid #ada7a7;
}
.button_package_row {
  margin-top: 5em;
}

.lab_package {
  width: 100%;
  background-color: rgba(231, 237, 244, 0.79);
}

.form_package_dropDown > select {
  height: 5vh;
  width: 22vw;
  border-radius: 5px;
  margin: 1em;
  padding-left: 0.3em;
  color: #5b5e61;
}

#createPackageFormImage {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
}


#createPackageFormImage > img {
    width: 7vw;
    height: 8vh;
    margin: 0 3vmax;
}
.package_add_image {
    width: 22vw;
    height: 5vh;
    margin: 0em 0em 1em 1em;
}


.form_Label > label {
  font-weight: 600;
  margin: 0em 0em 0em 1.5em;
}

.form_Label >input{
    margin-top: .1em;
}
#createProductBtn{
    width: 18vw;
    font-size: 14px;
    margin: 2.5em 0em 0em 0em;
}
#createProductBtn:hover{
        background-color: #46ddd8;
      
}
.form_Label{
    margin: 1em 0em 0em 0em ;
}
.inside_input_row{
    margin: 0em 0em .5em 0em;
}