.Create_Category_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.create_Category{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    background-color: rgba(231, 237, 244, 0.79);
}

.add_Category_row{
    display: flex;
    justify-content: space-around;

}
.content_create_Category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 12px 2px;
    width: 35vw;
    height: 80vh; 
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    background-image: url("../../../../public/Images/backcoveradmin.png");

}

.Category_row{
    margin: 2em;
    justify-content: center;

}

.Category_add{
    width: 24vw;
    height: 5vh;
    border: 1px solid #ADA7A7;
   border-radius: 8px;

}
.input_Category_upload{
    margin-top: 2em;
    
}

.button_Category{
    margin-top: 1em;
}
.categoryDiv{
    margin: 1em 5em;
    height:12vh;
    width:12vw;
}
.category_input,.Category_add_image{
    margin-left: 2em;
}

.Category_row > h1 {
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
  }

.Category_add_image{
    margin-bottom: 1em;
}
.sample_input{
    margin:1em 3em;
    padding-left: 1em;
}
